@model List<KURS.Models.OrdersViewModel>

@{
    ViewData["Title"] = "Orders Details";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@successMessage
    </div>
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
}
else if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
    </div>
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
}
<form>
    <button asp-action="Create" asp-controller="Orders" class="btn btn-pr">Make Order</button>
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="table-active">
                <th>Id</th>
                <th>Title</th>
                <th>TypeOfProduct</th>
                <th>Email</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach (var orders in Model)
                {
                    <tr>
                        <td>@orders.Id</td>
                        <td>@orders.Title</td>
                        <td>@orders.TypeOfProduct</td>
                        <td>@orders.Email</td>
                        <td>@orders.Price</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Orders" asp-action="Edit" asp-route-id="@orders.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="Orders" asp-action="Delete" asp-route-id="@orders.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
               <tr>
                   <td colspan="6">
                       <div>
                           Nothing Ordered at this moment!
                       </div>
                   </td>
               </tr> 
            }
        </tbody>
</form>
